/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;  /* Force full viewport width */
  min-height: 100vh; /* Force full viewport height */
  background-color: #f3f4f6;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Reset the default center alignment */
}